*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

.Wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;

  background-color:  #03045E;
}

.welcome_text {
  width: 400px;
}

.welcome_form input,
.welcome_form button {
  display: block;
  /*block line elemet*/
  width: 100%;
}

.welcome_form input {
  margin-bottom: 15px;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid white;
  color: white;
  font-size: 30px;
  text-align: center;

}
.welcome_form input:focus,
.welcome_form button :focus{
  outline: none;
}

.welcome_form button{
  font-size: 22px;
  padding: 20px 0;
  border: none;
  color:  #03045E;
  background-color: white;
  border-radius: 27px;
  transition: 0.4s all
}


.welcome_form button:hover{
  transform: translateY(-10px);
  cursor: pointer;
}

.entername{
  color:white;
  text-align: center;
  padding-bottom: 20px;
}


.Quiz{
  border-radius: 5px;
  display: grid;
  grid-template-rows: 60px auto;
  width: 800px;
  height: 500px;
  background-color:  #DFF6FF;



}

.quiz_header{
  color: #03045E;
  display: flex;
  justify-content: space-between;
  background-color: white;
  border-top-left-radius: 5px;
  border-top-right-radius: 6px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;

  box-shadow: 0 2px 5px 1px black;
  z-index: 1;

}

.quiz_body{
  background-color:#DFF6FF ;
  padding: 30px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}



.quiz_user{
  display: flex;
  align-items: center;
  padding-left: 20px;
}

.quiz_timer{
  color: white;
  display: flex;
  align-items:center;
  padding: 20px;
  background-color: #03045E;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;

}

.optgrp{
  list-style-type: none;
  margin: 30px  0;


}

.option{
    box-shadow: 0px 0px 10px 1px rgba(0,0,0,0 0.5);
  background-color: white;
  width: 300px;
  padding: 15px 20px;
  margin: 15px;
  border-radius: 100px;
  border: 2px solid transparent;
  transition: 0.3s;

}

.option:hover{
  cursor: pointer;
  border: 2px solid #03045E;
  box-shadow: 10px 10px 5px aqua;

}

.next_btn{
  color: white;
  background-color: #03045E;
  padding: 15px 35px;
  margin-left: 600px;
  border-radius: 27px;
  border:none;
  transition: 0.4s all;
  border: 2px solid transparent;

}

.next_btn:hover{
  cursor: pointer;
  color:#03045E;
  background-color:white;
  border: 2px solid #03045E;
  box-shadow: 10px 10px 5px #03045E;
/*  box-shadow: 0px 0px 10px 2px rgba(3, 4, 64, 0.5);*/
}

.active{
  background-color: #03045E;
  color:white;
}


.active:hover{
  cursor: pointer
  box-shadow: 1px solid green;
}

.award_icon{
  font-size: 300px;
  color: white;
}

.user_name,.user_time,.user_marks{
  color:white;
  margin-top: 15px;
  text-align: center;

}

#questions{
  font-size: 15px;

}
